#modal_forgot_password{
    width: 30%;
    top: 20%;
    left: 35%;

    display: block;
    
    border-radius: 3px;
    padding: 2rem;
    position: absolute;
    background: #FFBB47;
    font-size: 2rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 3px gray;
}

@media screen and (max-width: 1440px){
    #modal_forgot_password{
        width: 360px;
        left: 50%;
        margin-left: -180px;
    }
}

#sendPasswordBtn{
    font-family: 'arimo-regular';
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    background: #FFBB47;
    color: black;
    width: auto;
    text-align: center;
    text-shadow: 1px 1px 1px gray;

    display: inline-block;
    float: right;

    box-shadow: 1px 1px 3px gray;
}

.label{
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin-top: 1rem;
    color: black;
}

input{
    padding: 0.5rem;
    width: calc(100% - 1rem);    
}

.header_text{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: black;
}

form{
    margin: 1rem 0 0 0;
    text-align:left;
}

.status{
    font-size: 1.5rem;
    text-align: right;
    color: white;
    display: block;
    width: 100%;
    float: right;
    margin: 1rem 0;
}

