body{
    background: #E9E9E9;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main.internal{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 60px;
    text-align: center;
}

#body_container {
    display: inline-block;
    max-width: 90%;
    width: 600px;
    height: 100%;
    position: relative;
}

.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle;

    background: -webkit-linear-gradient(white, whitesmoke);
    background: linear-gradient(white, whitesmoke);

    border-radius: 3px;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
}


.row > h1 {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.row.full{
    width: 100%;
}

.text-content{
    margin: 1rem;
}